In [ ]:
1) You have to given a String and you have to swap that String In Other words Convert all the lowercase letter into Uppercase letter vice versa

In [1]:
s=input()
new_str=""
for i in range (len(s)):
    if s[i].isupper():
        new_str+=s[i].lower()
    elif s[i].islower():
        new_str+=s[i].upper()
    else:
        new_str+=s[i]
print(new_str)

 Hello Code Family

hELLO cODE fAMILY

2) You have to given s String and you have to capitalise first two character  of the string
Given a full name and you to capitalise the name appropriately

In [2]:
def capitalize_first_two_letters(str1):
     str1 = result = str1.title()
     result =  ""
     for word in str1.split():
        result += word[:2].upper() + word[2::].lower() +" "
        
     return result[::1] 
     
    
print(capitalize_first_two_letters("Aditya Tikale"))

ADitya TIkale

3)You have to given a information about N people.Each person has name .last name ,age,sex,city .Print their names in a specific format in descending order i.e the elder person name should br first printed,iFor the two people of the sane age print theri in orderof input.

In [4]:

num = int(input())
dict = {}
for _ in range(num):
    p1 = list(map(str,input().split()))
    if int(p1[1]) not in dict:
        dict[int(p1[1])] = [p1]
    elif int(p1[1]) in dict:
        dict[int(p1[1])].append(p1)
    s = sorted(dict, reverse = True)
print()
for i in s:
    if len(dict[i])<2:
        print(" ".join(dict[i][0]))
    else:
        for ele in dict[i]:
            print(" ".join(ele))

 3
 John 20 m mumbai
 Robert  36 f Bangalore
 Nicks 34 m Pune

Robert 36 f Bangalore
Nicks 34 m Pune
John 20 m mumbai